/*Hier kies ik ervoor om de gehele pagina een font family te geven*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/*dit zorgt ervoor dat de container waar mijn visite kaartje in is een padding van 10 heeft*/
.container{
  width: 100%;
  min-height: 100vh;
  padding: 10px;

}

/*Hier zorg ik ervoor dat mijn visitekaartje zelf een randje heeft.
Ook heb ik een schaduw achter het visitekaartje om hem iets naar voor te brengen
Met perspective zorg ik dat het 3d effect perspectief heeft, ofwel hoe ver het visitekaartje
is van de gebruiker.*/
.basics{
  width: 50vw;
  height: 43vh;
  margin: 6em auto 0;
  background: #fff;
  border-radius: 2em;
  box-shadow: 0 0 20px 20px rgba(47, 103, 41, 0.1);
}

/*Met transition zorg ik ervoor dat de kaart 1.5 seconde duurt om te flippen
Tranform style preserve 3d zorgt ervoor dat de kaart gepositioneert wordt in de 3d space 
en niet plat komt*/
.about{
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/*De positie absolute zorgt ervoor dat positie absoluut zo blijft. Backface visibility
zorgt ervoor dat de achterkant ontzichtbaar blijft*/
.front, .back{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

/*Bij backround zorg ik ervoor dat mijn afbeelding als achtergrond komt.
Met display flex zorg ik ervoor dat de elementen in 1 lijn blijven
Met justify content zorg ik dsat de flex items lijnen aan de rechter eind*/
.front{
  background: url("/Users/latoyanijmeijer/Desktop/fdnd/sem1/your-tribe-profile-card/assets/backgroundswirls.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
  
}
.front h1{
  font-weight: 400;
}
.front p{
  font-size: 0.7em;
}
.front .info{
  padding: 0em 0em 1em 1em;
  border-bottom-right-radius: 25px;
  background-color: #004526;
}
/*Hier zorg ik ervoor dat mijn lijst items geen icons voor de tekst krijgen en op 1 lijn staan*/
.front ul{
  list-style: none;
  display: flex;
  padding: 5px;
}

.front li{
  padding-left: 5px;
  padding-right: 5px;
}
.front li i{
  padding-right: 15px;
}
/*Met transform rotate zorg ik ervoor dat het element rotate*/
.back{
  background: #fff;
  color: #333;
  padding: 20px 40px;
  transform: rotateY(180deg);
}
.back img{
  max-width: 15%;
}
.back p{
  font-size: 0.8em;
  line-height: 1.5;
  margin-bottom: 10px;
}
.back h1{
  font-size: 1em;
}
.row{
  display: flex;
  align-items: center;
}
/*Hier kies ik ervoor om row en col te gebruiken om mijn tekst in 1 rij en column te zetten*/
.col{
  flex: 1;
  text-align: center;
  color: #004526;
  font-size: 0.6em;
  position: relative;
}
/*Hier zet ik streepjes tussen de verschillende col elementen*/
.col::after{
  content: '';
  width: 0.1em;
  height: 1em;
  background: #004526;
  position: absolute;
  top: 0.4em;
  right: 0;
}
/*Hier zorg ik ervoor dat naast het laatste element geen streepje is*/
.col:last-child::after{
display: none;
}

/*flipt de kaart bij hover*/

.basics:hover .about{
  transform: rotateY(180deg);
}